# Beispiel-Konfigurationsdatei
# Diese Datei wird MIT-committet in GitHub.
# Die eigentliche .env NICHT!

#Bei Verwendung kann man sich selbst das .example rausnehmen und als .env verwenden

OPENWEATHER_API_KEY= #Hier steht der PRIVATE KEY des Endbenutzers, niemals auf GitHub teilen!
#WEATHERBIT_API_KEY=
#PIRATEWEATHER_API_KEY=
