body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.weather-block {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
